.navbar{
    background-color: #02231C;
    color : #55D9C0;
    font-size: 3em;
    padding: 0.5% 0;
    border-bottom: solid #55D9C0 3px;
    display: flex;
}

.drawer-img{
margin: 1%;
color: white;
}

.title{
    width: 100%;
    text-align: center;
    margin: 1%
}

.profilePic{
    color: white;
    margin: 1%;
}